<!DOCTYPE html>
<html lang="en">

<head>

  <!-- 
    This is the Handlebars template for the Admin page 
    - The page displays the current list of logs returned by server.js
    - The user can clear the log by first setting up an admin key
  -->

  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Hello SQLite: Logs</title>

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

</head>

<body>
  <div class="wrapper">
    <div class="content" role="main">

      <!-- This is the start of content for our page -->
      <h1>Submissions So Far:</h1>
      {{#if error}}
      <p class="error">
        {{error}}
      </p>
      {{else}}

      <!-- The server script returns the logs in an array -->
      <p>
        Most recent submission:
      </p>
      <p>name: {{name}}</p>
      <p>quantity: {{quantity}}</p>
      <br>
      <p>Submissions to date:</p>

      <table>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>quantity</th>
        </tr>
        {{#each dbQueryResult}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{quantity}}</td>
          </tr>
        {{/each}}
      </table>



      <!-- Write out a table row for each entry in the log array showing choice and timestamp -->


      <!-- The user can clear the logs if they first set up an admin key in the env -->

      {{/if}}
    </div>
  </div>
  <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
  <footer class="footer">
    <div class="links"></div>
    <a href="/">Home</a>
    <span class="divider">|</span>

  </footer>
</body>

</html>
