<!DOCTYPE html>
<html lang="en">
  <head>
    
     <title>admin</title>

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    
    
    <h1> {{title}} </h1>
    <br>
    <label> creator: {{username}} </label>
    <br>
    <label> timezone: {{timezone}} </label>
    <br><label> start time: {{start_time}} </label>
    <br><label> end time: {{end_time}} </label>
    <br><label> location: {{location}} </label>
    <br><label> length of slots: {{length}} </label>
    <br><label> phonenumbers: {{phonenumbers}} </label>
    <br><label> notes: {{notes}}</label>
  </body>
</html>